In [2]:
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
ds_raw = [["소주", "콜라", "맥주"],
          ["소주", "콜라", "와인"],
          ["소주", "주스"],
          ["콜라", "맥주"],
          ["소주", "콜라", "맥주", "와인"],
          ["주스"]]

ds_raw

[['소주', '콜라', '맥주'],
 ['소주', '콜라', '와인'],
 ['소주', '주스'],
 ['콜라', '맥주'],
 ['소주', '콜라', '맥주', '와인'],
 ['주스']]

In [9]:
enc = TransactionEncoder()
ds_raw_enc = enc.fit_transform(X = ds_raw)
df_asso = pd.DataFrame(ds_raw_enc, columns = enc.columns_)
df_asso.head()

      맥주     소주     와인     주스     콜라
0   True   True  False  False   True
1  False   True   True  False   True
2  False   True  False   True  False
3   True  False  False  False   True
4   True   True   True  False   True

In [11]:
min_support = 0.5
df_freq = apriori(df_asso, min_support = 0.5, use_colnames = True)
df_freq.round(3)

   support  itemsets
0    0.500      (맥주)
1    0.667      (소주)
2    0.667      (콜라)
3    0.500  (콜라, 맥주)
4    0.500  (소주, 콜라)

In [13]:
df_asso_rule = association_rules(df_freq, metric = "confidence", min_threshold = 0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(콜라),(맥주),0.667,0.500,0.5,0.75,1.500,0.167,2.000
1,(맥주),(콜라),0.500,0.667,0.5,1.00,1.500,0.167,inf
2,(소주),(콜라),0.667,0.667,0.5,0.75,1.125,0.056,1.333
3,(콜라),(소주),0.667,0.667,0.5,0.75,1.125,0.056,1.333