In [1]:
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df_raw = pd.read_csv("rawdata/상품구매.csv")
df_raw

       ID      PRODUCT
0    C-11     BAGUETTE
1    C-11      HERRING
2    C-11      AVOCADO
3    C-11    ARTICHOKE
4    C-11     HEINEKEN
5    C-11       APPLES
6    C-11  CORNED BEEF
7    C-12      HERRING
8    C-12  CORNED BEEF
9    C-12       APPLES
10   C-12       OLIVES
11   C-12        STEAK
12   C-12     SARDINES
13   C-12     HEINEKEN
14   C-13     BAGUETTE
15   C-13     SARDINES
16   C-13       APPLES
17   C-13      PEPPERS
18   C-13      AVOCADO
19   C-13        STEAK
20   C-13    ICE CREAM
21   C-14      HERRING
22   C-14  CORNED BEEF
23   C-14       OLIVES
24   C-14          HAM
25   C-14       TURKEY
26   C-14         COKE
27   C-14       APPLES
28   C-15       OLIVES
29   C-15      BOURBON
..    ...          ...
110  C-26       APPLES
111  C-26     BAGUETTE
112  C-27       OLIVES
113  C-27      BOURBON
114  C-27         COKE
115  C-27       TURKEY
116  C-27    ICE CREAM
117  C-27         SODA
118  C-27      AVOCADO
119  C-28         SODA
120  C-28       OLIVES
121  C-28      BOURBON
122  C-28     CRACKERS
123  C-28     HEINEKEN
124  C-28    ARTICHOKE
125  C-28      PEPPERS
126  C-29       OLIVES
127  C-29      BOURBON
128  C-29         COKE
129  C-29       TURKEY
130  C-29    ICE CREAM
131  C-29     SARDINES
132  C-29         SODA
133  C-30       OLIVES
134  C-30      BOURBON
135  C-30         COKE
136  C-30       TURKEY
137  C-30    ICE CREAM
138  C-30         SODA
139  C-30          HAM

[140 rows x 2 columns]

In [5]:
ds_raw = []
ID = list(set(df_raw["ID"]))
ID.sort()

for i in ID:
    temp_list = list(df_raw[df_raw["ID"] == i]["PRODUCT"])
    temp_list.sort()
    ds_raw.append(temp_list)
    
for row in ds_raw:
    print(row)

['APPLES', 'ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['APPLES', 'CORNED BEEF', 'HEINEKEN', 'HERRING', 'OLIVES', 'SARDINES', 'STEAK']
['APPLES', 'AVOCADO', 'BAGUETTE', 'ICE CREAM', 'PEPPERS', 'SARDINES', 'STEAK']
['APPLES', 'COKE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'COKE', 'HEINEKEN', 'HERRING', 'TURKEY']
['APPLES', 'CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['BAGUETTE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA', 'STEAK']
['APPLES', 'BAGUETTE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'BOURBON', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'SODA', 'STEAK']
['BOURBON', 'CORNED BEEF', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA']
['APPLES', 'BAGUETTE', 'CHICKEN', 'COKE', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'PEPPERS', 'SARDINES']
['APPLES', 'BAGUETTE', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'TURKEY']
['AVOCADO', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SARDINES', 'SODA', 'TURKEY']
['BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']

In [13]:
len(ID)

20

In [6]:
enc = TransactionEncoder()
ds_raw_enc = enc.fit_transform(X = ds_raw)
df_asso = pd.DataFrame(ds_raw_enc, columns = enc.columns_)
df_asso.head()

,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
0,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
2,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
3,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
4,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True

In [8]:
min_support = 0.5
df_freq = apriori(df_asso, min_support = 0.5, use_colnames = True)
df_freq.round(3)

   support           itemsets
0     0.55          (BOURBON)
1     0.50             (COKE)
2     0.60         (HEINEKEN)
3     0.65           (OLIVES)
4     0.50  (BOURBON, OLIVES)

In [9]:
df_asso_rule = association_rules(df_freq, metric = "confidence", min_threshold = 0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(OLIVES),0.55,0.65,0.5,0.909,1.399,0.142,3.85
1,(OLIVES),(BOURBON),0.65,0.55,0.5,0.769,1.399,0.142,1.95